<tr>
  <td><%= phone.phone_number %></td>
  <td><%= phone.comment %></td>
  <td><%= link_to 'Show', [@person, phone], class: "btn btn-primary" %></td>
  <td><%= link_to 'Edit', edit_person_phone_path(@person, phone), class: "btn btn-primary" %></td>
  <td><%= link_to 'Destroy', [@person, phone], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
</tr>