<tr>
  <td><%= phone.number %></td>
  <td><%= phone.comment %></td>
  <td><%= link_to 'Show', [@person, phone] %></td>
  <td><%= link_to 'Edit', edit_person_phone_path(@person, phone) %></td>
  <td><%= link_to 'Destroy', [@person, phone], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>