<p id="notice"><%= notice %></p>

<h1><%= "#{@person.first_name} #{@person.last_name}" %></h1>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>


<p>
  <strong>Saluation:</strong>
  <%= @person.saluation %>
</p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @person.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>SSN:</strong>
  <%= @person.ssn %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person.date_of_birth %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @person.comment %>
</p>


<%= render 'addresses/index' %>

<%= render 'phones/index' %>

<%= render 'emails/index' %>
