<tr>
  <td><%= address.street %></td>
  <td><%= address.town %></td>
  <td><%= address.zipcode %></td>
  <td><%= address.state %></td>
  <td><%= address.country %></td>
  <td><%= link_to 'Show', [@person, address] %></td>
  <td><%= link_to 'Edit', edit_person_address_path(@person, address) %></td>
  <td><%= link_to 'Destroy', [@person, address], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>