<tr>
  <td><%= email.email_address %></td>
  <td><%= email.comment %></td>
  <td><%= link_to 'Show', [@person, email], class: "btn btn-primary" %></td>
  <td><%= link_to 'Edit', edit_person_email_path(@person, email), class: "btn btn-primary" %></td>
  <td><%= link_to 'Destroy', [@person, email], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
</tr>