<%= form_with(model: email, url: [@person, email]) do |form| %>
  <% if email.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h4>

      <ul>
        <% email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email_address %>
    <%= form.text_field :email_address, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.hidden_field :person_id, value: @person.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
